* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    min-height: 100% !important;
}

body {
    height: 100%;
    min-height: 100% !important;
    background-color: #e3e3e3;
}

.container {
    height: 100%;
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
}

.editor-box {
    min-width: 80vh;
    min-height: 40vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px #bababa;
}

.tools {
    width: 100%;
}

.tools-bar {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid #b8b8b8;
    border-bottom: 1px solid #b8b8b8;
}

.tools-bar button {
    margin: 10px;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    background: none;
    color: #878787;
}

.tools-bar select {
    font: inherit;
    cursor: pointer;
    border-radius: 3px;
    color: #878787;
    border: #878787 1px solid;
}

.tools-bar select:focus {
    outline: 0px solid transparent;
}

.text-box {
    width: 100%;
    height: 100%;
}

.content-editable {
    width: 100%;
    min-height: 300px;
    margin: 20px;
}

.content-editable:focus {
    outline: 0px solid transparent;
}